.header {
  width: 85vw;
  background: greenyellow;
  display: flex;
}

.header img {
  width: 100px;
}
.header{
  background: linear-gradient(90deg, #b9deed, #efefef);

}

.pText {
  text-align: center;
  padding-top: 20px;
}