.header {
  width: inherit;
  display: flex;
}

.header img {
  width: 100px;
}
.header{
  background: linear-gradient(90deg, #b9deed, #efefef);

}

.header_menu{
  display: flex;
  flex-direction: row-reverse;
width: 80vw;
align-items: center ;
justify-content: space-between;
}
.header_a {
padding-left: 10vw;
}