.header {
  margin: 0 auto;
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 100px;
}
.header{
  background: linear-gradient(90deg, #b9deed, #efefef);

}

.header_menu{
  display: flex;
  flex-direction: row-reverse;
width: 500px;
align-items: center ;
justify-content: space-around;
padding-left: 25vw;
}
.header_a {
/*padding-left: 10vw;*/
}