.main_content {
  grid-area: mc;
    background: linear-gradient(90deg, #80b7cc, #afcfdc);
    display: grid;
    grid-template-areas:
    "i i"
    "ava tex"
    "post post";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 6fr;

}
.big_i {
  width:90%;
  padding-left:5%;
}
.ava{
  padding: 10px 0 10px 100px ;
  max-width: 200px;
  max-height: 300px;
}
.position_ava_text{
  grid-area:ava_text;
  /* display: grid; */
}
.post_h{
  margin: 30px;
}
.typ{
  margin-left: 100px;
  width: 700px;
  height: 50px;
  border-radius: 10px;
}
.knopka{
  margin-left: 720px;
  border-radius: 30px;
}
.post{
display: grid;
grid-template-areas:
"ava_krug post_text" ;
grid-template-columns: 2fr 10fr;
padding-bottom: 50px;
}
.ava_krug{
  margin-left: 50px;
  grid-area: ava_krug;
  width: 50px;
  border-radius: 100%;
}
.post_text{
  grid-area: post_text;
}
.position_ava{
  grid-area: ava;
}
.position_i{
  grid-area: i;
}
.position_text{
  grid-area: tex;
}
.position_posts{
  grid-area: post;
}